/*General Body*/
body {
  padding-top: 1vh;
  background-color: #e4e8ec;
}

/*Banner*/
.banner-img {
  width: 100%;
  height: 100%;
}

.logo-section {
  margin-right: 110px;
}

@media only screen and (max-width: 991px) {
  .logo-section {
    margin-bottom: 30px;
    margin-right: 0px;
  }
}

/*NavBar*/
nav .nav-item a {
  color: #e4e8ec;
  font-size: 24px;
}

nav .nav-item {
  margin-left: 36px;
}

nav .nav-item a:hover {
  color: #afbeca;
}


/*Search Bar*/
.search-container {
  background-color: #FFF;
  position: relative;
  border-radius: 30px;
  padding: 3px 50px 3px 10px;
  margin-left: auto;
  /*margin-right: 20px;*/
}
.search-box {
  background-color: transparent;
  outline: none;
  height: 35px;
  font-size: 15px;
  border: 0;
  width: 100%;
}
.search-button {
  position: absolute;
  right: 4px;
  top: 4px;
  background-color: #003a5c;
  border-radius: 50%;
  border: 0;
  color: #FFF;
  width: 35px;
  height: 35px;
  outline: 0;
}

.search-container .autocomplete {
  background-color: #ffffff;
}

.autocomplete ul {
  list-style-type: none;
}
  
/*Login*/
.organization-login {
  float: right;
}
.organization-login a{
  color: #003a5c;
}

.organization-login a:hover{
  color: #afbeca;
}

@media only screen and (max-width: 991px) {
  .search-container {
    margin-top: 30px;
  }
  .organization-login {
    margin-top: 30px;
    float: none;
  }
  nav {
    text-align: center;
  }

  nav .nav-item {
    margin-left: 0;
  }
}


/*Button*/

button.search-button:hover {
  background-color:#afbeca;
}

.deca-dark-button {
  background-color: #003a5c;
  color: #e4e8ec;
}

.deca-light-button {
  background-color: #afbeca;
  color: #003a5c;
}

.deca-remove-button {
  background-color: red;
  color: #e4e8ec;
}

.deca-register {
  padding: 15px;
  margin-bottom: 3vh;
  font-weight: bold;
}

/*Header*/
.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.portfolio-item {
  margin-bottom: 30px;
}

/*Purpose Section*/

.purpose-section {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 30px;
  padding-left: 30px;
  color: #003a5c;
}

.purpose-section p {
  font-size: 20px;
  color: #003a5c;
}


/*Cards*/
.card-center {
  text-align: center;
}

/*Form*/
.formtitle {
  padding: 2%;
  text-align: center;
}

.additional-services {
  margin-top: 10px;
}

.remove-service, .remove-user {
  font-weight: bold;
  color:red;
}

.error {
  color: red;
}

/*Showcase*/

.list-services-wrapper {
  margin-top: 10%;
  margin-bottom: 10%;
}

.org-details {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.org-wrapper {
  margin-right: auto;
  margin-left: auto;
  width: auto;
  height: auto
}

.org-wrapper ul {
  list-style-type: none;
  padding: 0;
}

.org-border {
  border-style: solid;
  border-width: 2px;
}

.tag-details {
  float: right;
  margin-right: 0;
  margin-top: 5%;
  margin-bottom: 5%;
}

.edit-showcase {
  margin-right: 15px;
  margin-bottom: 15px;
}

.hours-form {
  place-content: space-between;
}

@media only screen and (max-width: 991px) {
  .extra-margin {
    margin-left: 36px;
  }

  .services-wrapper {
    display: inline;
    float: none;
    margin: auto;
  }

  .list-services-wrapper {
    margin-top: 5%;
    margin-bottom: 0%;
  }

  .center-row {
    display: flex;
    justify-content: center !important;
  }

  .center-row ol {
    list-style-position: inside;
  }

  .tag-details {
    margin-bottom: 5%;
  }
}
.search-container{
  position: relative;
}
.autocomplete{
  position:absolute;
  z-index: 1000;
  background-color: rgba(255, 255, 255, .8);
  width:90%;
  display:none;
  top:45px;
}
