{% extends "base.jinja2" %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

    <div class="container">
        <h1 class="formtitle">Register your Organization</h1>
        <form id="registerForm" method="POST" enctype="multipart/form-data" action="{% url "orgs:wizard" %}">
            {% csrf_token %}
            {{ wizard.management_form | crispy }}
            {% if wizard.form.forms %}
                {{ wizard.form.management_form | crispy }}
                {% for form in wizard.form.forms %}
                    {{ form  | crispy }}
                {% endfor %}
            {% else %}
                {{ wizard.form  | crispy }}
            {% endif %}    
            <div class="row justify-content-end" style="text-align:center">
                <div class="col-sm-10">
                    <button type="submit" class="form-control btn deca-register deca-light-button">Next Step</button>
                </div>
            </div>
    </div>

    </form>
{% endblock content %}
