{% extends "base.jinja2" %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

    <div class="container">
        <h1 class="formtitle">Register your Organization</h1>
        <form id="registerForm" method="POST" enctype="multipart/form-data" action="{% url "orgs:wizard" %}">
            {% csrf_token %}
            {{ wizard.management_form | crispy }}
            {% if wizard.form.forms %}
                {{ wizard.form.management_form | crispy }}                
                {% for form in wizard.form.forms %}
                    {{ form  | crispy }}
                {% endfor %}
            {% else %}
                {{ wizard.form  | crispy }}
            {% endif %}
            {% if hours_form %}
                <div class="form-inline">
                {{ hours_form.management_form | crispy }}
                {% for form in hours_form.forms %}
                    {{ form  | crispy }}
                {% endfor %}
                </div>
            {% endif %}
            <button type="submit" id="submitBtn" class="form-control btn btn-block deca-register deca-light-button">Next Step</button>

    </div>

    </form>
    <script type="text/javascript">
        {#$('#registerForm input:checkbox').change(function() {#}
        {#    if (this.checked){#}
        {#        $("#submitBtn").text('Next Step');#}
        {#    }#}
        {#    else{#}
        {#        $("#submitBtn").text('Submit');#}
        {#    }#}
        }).change();
        $('#div_id_{{wizard.steps.step0}}-lab_machine_count').hide();
        $('#id_{{wizard.steps.step0}}-services').on('changed.bs.select', function(event, clickedIndex, newValue, oldValue){            
            if(newValue && this.options[clickedIndex].text.toLowerCase().includes('lab')){
                $('#div_id_{{wizard.steps.step0}}-lab_machine_count').fadeIn("slow");
            }
            else if(oldValue && this.options[clickedIndex].text.toLowerCase().includes('lab')){            
                $('#div_id_{{wizard.steps.step0}}-lab_machine_count').fadeOut("slow");
            }
        });
    </script>
{% endblock content %}

