<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>You Have Been Invited to {{ organization.name }}'s DECA Site</title>
</head>
<body>
    <a href="">Click Here to Register!</a>
</body>
</html>