{% extends "base.jinja2" %}

{% block content %}
      <div class="row p-4">
        <div class="col-md-1"></div>  
        <div class="col-md-10">
          <div>
            <h1 class="ml-2 pull-left">Organizations</h1>
            <a class="mr-3 btn btn-primary pull-right btn-lg" href="{% url 'orgs:wizard' %}" role="button">Add an organization</a>
          </div>
          <div class="table" data-example-id="simple-responsive-table">
            <div class="table-responsive">
              <!-- Table -->
              <table class="table table-striped" id="myTable">
                <thead>
                  <tr>
                    <th>Organization</th>
                    <th>Branch Address</th>
                    <th>Services Offered</th>
                    <th>Upcoming Event</th>
                    <th>Contact</th>
                  </tr>
                </thead>
                
                <tbody>
                {% for branch in branches %}
                  <tr onclick="window.location='{{branch.pk}}/';">
                    <td>{{branch.organization.name}}</td>
                    <td>{{branch.address}}</td>
                    <td>
                        {% for service in branch.services.all %}
                            {% if forloop.last %}
                                {{service.type}}
                            {% else %}
                                {{service.type}},
                            {% endif %}
                        {% empty %}
                            None
                        {% endfor %}
                    </td>
                    <td>No upcoming event</td>
                    <td>{{branch.contact_phone.as_national}}</td>
                  </tr>                  
                {% endfor %}
                </tbody>
              </table> 
            </div> <!-- end of <div class = "table-responsive"> -->
          </div> <!-- end of <div class = "table"> -->
        </div> <!-- end of <div class = "col-md-10"> -->
      </div> <!-- end of <div class = "row"> -->
    <script type="text/javascript">
        $(document).ready(function(){
            $('#myTable').DataTable(); 
        });
        </script>
        
        <script type="text/javascript">
        $(window).load(function() {
            $("#load").fadeOut();
            document.getElementById('myTable').style.visibility="visible";
        });
        </script>
{% endblock content %}