{% extends "base.jinja2" %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/showcase.css' %}">
<div class="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active"  style="background-image: url(/media/{{organization.banner}})">
    </div>
  </div>
  <!-- <img src="https://upload.wikimedia.org/wikipedia/commons/0/06/AustinSkylineLouNeffPoint-2010-03-29-b.JPG" alt="organization banner" class="showcase-banner-img" /> -->
</div>
<div class="container">
  <div class="row showcase-content">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <h5>
            {{organization.name}}
          </h5>
        </div>
        {% if organization.logo_file %}
        <img class="card-img-top" src="/media/{{organization.logo_file}}" />
        {% endif %}
        <div class="card-body">
          <div class="card-text">
            <dl>
              <dt>
                Location
              </dt>     
              <dd>
                {{branch.address}}
              </dd>         
              <dt>Website              
              </dt>
              <dd>
                <a href="{{organization.website}}" target="_blank">{{organization.website}}</a>
              </dd>
              {% if branch.services.all or branch.services_other %}
              <dt>Services</dt>
              <dd>
                <ul>
                  {% for service in branch.services.all %}
                    <li>{{service}}</li>
                  {% endfor %}
                  {% for service in branch.services_other %}
                  <li>{{service}}</li>
                  {% endfor %}
                </ul>
              </dd>
              {% endif %}
              <dt>Hours of operation</dt>
              <dd>50</dd>
              <dt>Languages</dt>
              <dd>
                <ul>
                  {% for lang in branch.languages.all %}
                    <li>{{lang}}</li>
                  {% endfor %}
                </ul>
              </dd>
              
            </dl>
            <h7>
              
            </h7>

          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8 white-background p-3 rounded">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item"><a role="tab" href="#description" aria-controls="description" data-toggle="tab" aria-selected="true" class="nav-link active">Description</a></li>
        <li class="nav-item"><a href="#contact" data-toggle="tab" role="tab" aria-controls="contact" aria-selected="false" class="nav-link">Contact</a></li>        
        {% if branch.training_programs.all or branch.services.all or branch.services_other or branch.lab_machine_count %}        
        <li class="nav-item"><a href="#services" role="tab" data-toggle="tab" aria-controls="services" aria-selected="false" class="nav-link">Services</a></li>
        {% endif %}
        <li class="nav-item"><a href="#disability" role="tab" data-toggle="tab" aria-controls="disability" aria-selected="false" class="nav-link">Disability</a></li>
        <li class="nav-item"><a href="#other" role="tab" data-toggle="tab" aria-controls="other" aria-selected="false" class="nav-link">Other Branches</a></li>
      </ul>
      <div class="tab-content pt-3" id="myTabContent">
        <div class="tab-pane show active" id="description" role="tabpanel" aria-labelledby="description-tab">{{organization.description | safe }}</div>
        <div class="tab-pane" id="contact" role="tabpanel" aria-labelledby="contact-tab">
          <h5>Main contact</h5>
          <dl>
            <dt>Name</dt>
            <dd>{{branch.contact_name}}</dd>
            <dt>Email</dt>
            <dd><a href="mailto:{{branch.contact_email}}">{{branch.contact_email}}</a></dd>
            <dt>Phone</dt>
            <dd>{{branch.contact_phone.as_national}}</dd>
          </dl>
          {% if branch.key_employees %}
          <h5>Other employees</h5>
          <ul>
            {% for employee in branch.key_employees %}
              <li>{{employee}}</li>  
            {% endfor %}
          </ul> 
          {% endif %}
        </div>
        <div class="tab-pane" id="services" role="tabpanel" aria-labelledby="services-tab">
          {% if branch.services.all or branch.services_other %}
          <h5>Services offered:</h5>
          <ul>
            {% for service in branch.services.all %}
              <li>{{service}}</li>
            {% endfor %}
            {% for service in branch.services_other %}
            <li>{{service}}</li>
            {% endfor %}
          </ul>
          {% endif %}
          {% if branch.training_programs.all %}
          <h5>Training programs offered:</h5>
          <ul>
            {% for program in branch.training_programs.all %}
              <li>{{program}}</li>
            {% endfor %}
          </ul>
          {% endif %}
          {% if branch.lab_machine_count %}
          <h5>Lab information:</h5>
          <dl>
            <dt>Number of Machines</dt>
            <dd>{{branch.lab_machine_count}}</dd>
            <dt>Public Access</dt>
            <dd>{{branch.public_access}}</dd>            
          </dl>
          {% endif %}
          
        </div>
        <div class="tab-pane" id="disability" role="tabpanel" aria-labelledby="disability-tab">
          
        </div>
        <div class="tab-pane" id="other" role="tabpanel" aria-labelledby="other-tab">...</div>
      </div>
    </div>
    
  </div>
  <div class="center-row">
      <div class="row tag-details">
        <div class="tag-border">
          <button type="button" class="btn deca-dark-button" data-toggle="modal" data-target="#report">Report for Review</button>
          <!-- Modal -->
            <div class="modal fade" id="report" tabindex="-1" role="dialog" aria-labelledby="reportLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="reportLabel">Report an Issue</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <form id="modalForm" method="POST" action="{% url 'flags:flag' %}">
                      {% csrf_token %}
                      <input type="hidden" name="organization" value="{{ organization.id}}">
                    <div class="modal-body">
                      <div class="form-group row">
                        <label class= "col-sm-2 col-form-label">Issue: </label>
                        <div class="col-sm-10">
                          <select class="form-control" id="issue" required name="issue">
                            <option value="default" selected disabled hidden>Choose an Issue</option>
                            <option>Out of Date</option>
                            <option>Inappropiate</option>
                            <option value="Other">Other</option>
                          </select>
                        </div>
                      </div>
                      <div id="other">
                        <div class="form-group row">
                          <label class= "col-sm-2 col-form-label">Details: </label>
                          <div class="col-sm-10">
{#                                   <input type="textarea" class="form-control" name="other-issue" id="other-issue"/>#}
                              <textarea name="other" class="form-control" cols="30" rows="10"></textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn deca-remove-button" data-dismiss="modal">Close</button>
                      <button type="submit" class="btn deca-dark-button">Submit</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
</div>
 <!-- Page Content -->
      <!-- /.container -->
    <script src="{% static 'js/showcase.js' %}"></script>
{% endblock content %}