{% extends "base.jinja2" %}
{% load static %}
{% load staticfiles %}

{% block imports %}
    <script src="{% static 'moment.min.js' %}"></script>
    <script src="{% static 'fullcalendar.js' %}"></script>
{% endblock imports %}


{% block style %}
    <link rel="stylesheet" href="{% static 'fullcalendar.css' %}">
    <style>
        body {
            margin: 40px 10px;
            padding: 0;
            font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
            font-size: 14px;
        }

        {##calendar {#}
        {#    max-width: 900px;#}
        {#    margin: 0 auto;#}
        {
        #}#}
    </style>
{% endblock style %}
{% block content %}

    <header>

        {% if featured_orgs.all %}
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                {% for org in featured_orgs.all %}
                {% if forloop.first %}
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                {% else %}
                <li data-target="#carouselExampleIndicators" data-slide-to="{{forloop.counter0}}"></li>
                {% endif %}                
                {% endfor %}
            </ol>
            <div class="carousel-inner" role="listbox">
                <!-- Slide One - Set the background image for this slide in the line below -->
                {% for org in featured_orgs.all %}
                    {% if forloop.first %}
                        <div class="carousel-item active" style="background-image: url(/media/{{org.banner}})">
                    {% else %}
                        <div class="carousel-item" style="background-image: url(/media/{{org.banner}})">
                    {% endif %}
                        <div class="carousel-caption d-none d-md-block">
                            <h3>{{org.name}}</h3>
                            {% if org.branches.first %}
                            <a class="btn btn-info" href="{% url 'orgs:view' org.branches.first.pk %}">Visit Showcase</a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        {% endif %}
    </header>

    <!-- Page Content -->
    <div class="container">

        <div class="purpose-section">
            <div class="my-4">
                {{ content.text |safe }}
            </div>
            <!-- Marketing Icons Section -->
        </div>

        <!-- Portfolio Section -->
        <div class="row">
            <div class="col-lg-4 mb-4">
                <div class="card h-100">
                    <h4 class="card-header card-center">Events</h4>
                    <div class="card-body">
                        <div id='calendar'></div>
                    </div>
                    <div class="card-footer card-center">
                        <a href="#" class="btn card-button">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card h-100">
                    <h4 class="card-header card-center">Highlights</h4>
                    <div class="card-body">
                        {{ highlights.text |safe }}
                    </div>
                    <div class="card-footer card-center">
                        <a href="#" class="btn card-button">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card h-100">
                    <h4 class="card-header card-center">Resources</h4>
                    <div class="card-body">
                        {{ resources.text |safe }}
                    </div>
                    <div class="card-footer card-center">
                        <a href="#" class="btn card-button">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
{% endblock %}
{% block scripts %}
    {% include 'event_widget.js.jinja2' %}

{% endblock scripts %}