<script>
    var events = [
        {% for event in events %}
            {
                title: "{{ event.name}}",
                start: "{{ event.start_time|date:'Y-m-d H:m:s'}}",
                end: "{{ event.end_time |date:'Y-m-d H:m:s'}}",
                organization_name: "{{ event.organization.name }}",
                description: "{{ event.description }}",
                contact_name: "{{ event.contact_name }}",
                {% if event.url is not None %}
                    url: "{{ event.url }}"
                {% endif %}
            },
        {% endfor %}
    ]
    var txt = "{{ event_widget_options.show_header }}"
    $(document).ready(function () {
        var calendar = $('#calendar').fullCalendar({
        {% if event_widget_options.show_header %}
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay,listWeek'
            },
        {% endif %}
            defaultDate: new Date().toISOString().split('T')[0],
        {% if event_widget_options.default_view is not None %}
            defaultView: "{{  event_widget_options.default_view}}",
        {% endif %}
            navLinks: true, // can click day/week names to navigate views
            editable: false,
            eventLimit: true, // allow "more" link when too many events
            events: events,
            eventClick: function (calEvent, jsEvent, view) {

                {#alert('Event: ' + calEvent.title);#}
                {#alert('Coordinates: ' + jsEvent.pageX + ',' + jsEvent.pageY);#}
                {#alert('View: ' + view.name);#}

                // change the border color just for fun
                {#$(this).css('border-color', 'red');#}
                jsEvent.preventDefault()
                console.log(calEvent)
                if (typeof calEvent.url != 'undefined' && calEvent.url != "None") {
                    window.open(calEvent.url, "_blank")
                }
            }
        });


    });
</script>